<%- include("includes/head.ejs") %>
<body>
    
    <h1>This user page belongs to @</h1>
    <h1>This user page holders'pet is @<%= data.name %> </h1>


     
<h1>total followers : <%= data.followers %>&nbsp; &nbsp; &nbsp; &nbsp;
total followings : <%= data.following %></h1>
<button id="f">Follow Me</button>
<button>Share Profile</button>

 <hr>

 <% for(let post of data.posts) { %>
    <img src=" <%= post.image %> " alt="" width="200px">
    <h3> likes <%= post.likes %> </h3>
    <h3> coments <%= post.comments %> </h3>
    <button>like</button>
    <input type="text" placeholder="comments now">
    <hr>

 <% }  %>


  
   
<script src="/style.js"></script>
</body>
</html>